**In this week's independent project, you will be working as a data scientist working for an electric car-sharing service company. You have been tasked to process stations data to understand electric car usage over time - April 2018**

In [106]:
#Import panda and numpy libs

import pandas as pd
import numpy as np

In [ ]:
#Import csv file as a dataframe and dispalay 10 first rows
#Colnames=['Address','Cars','Bluecar counter','Utilib counter','Utilib 1.4 counter','Charge Slots','Charging Status','City','Displayed comment','ID','Kind','Geo point','Postal code',         
# 'Public name','Rental status','Scheduled at','Slots','Station type','Status','Subscription status','year','month','day','hour' ]                

url="/content/Autolib_dataset (2).csv"
 
Autolib=pd.read_csv(url )

Autolib.head(5)

In [ ]:
Autolib['ID']

In [ ]:
#Df general information
Autolib.info()

In [ ]:
#Shape
Autolib.shape

In [ ]:
#Data types in dataset
Autolib.dtypes

In [86]:
#Data Validity 
#Remove any unneeded data from the dataset 
#Check syntax errors
#Remove any spaces 

New_Autolib_dataset=Autolib.drop(columns=['Charge Slots', 'Charging Status','ID', 'Geo point','year', 'Subscription status'])
New_Autolib_dataset.head(1)

               Address  Cars  Bluecar counter  ...  day  hour minute
0  2 Avenue de Suffren     0                0  ...    8    11     43

[1 rows x 19 columns]

In [ ]:
New_Autolib_dataset.info()

In [ ]:
#Accuracy 
#Data accuracy - Check if the values in the data make sense and have accurate computations  accurate

In [ ]:
#Completeness
#We check for null values 
#Count and replace 


# Checking if there is any missing value in dataframe as a whole
 
New_Autolib_dataset.isnull()

In [ ]:
# Checking if there is any missing value across each column
New_Autolib_dataset.isnull().any()

In [ ]:
# Checking how many missing values there are across each column

New_Autolib_dataset.isnull().sum()

In [ ]:
#  we can do a quick check to see if we have any missing values at all
New_Autolib_dataset.isnull().values.any()

In [ ]:
#Drop all rows with all missing values
all_rows_all_na = New_Autolib_dataset.dropna(how="all")
print(all_rows_all_na)

In [83]:
#Remove columns with very high numbers of missing values and they may not be relevant 

New_Autolib_dataset=New_Autolib_dataset.drop(columns=[ 'Displayed comment', 'Scheduled at','Rental status'])
New_Autolib_dataset.head(1)

               Address  Cars  Bluecar counter  ...  day  hour minute
0  2 Avenue de Suffren     0                0  ...    8    11     43

[1 rows x 17 columns]

In [ ]:
# Checking if there is any missing value in new dataframe as a whole
 
New_Autolib_dataset.isnull().sum()

In [ ]:
New_Autolib_dataset.shape

(5000, 20)

In [ ]:
#CONSISTENCY 
#Check for duplicates in rows

duplicate = New_Autolib_dataset[New_Autolib_dataset.duplicated()] 
duplicate

In [72]:
#Check for duplicates in columns 
#Get a list of duplicate columns.
#The cars colums has the same number as the Blue cars from data description

[]

In [ ]:
#Drop duplicate column to the blue car counter 
New_Autolib_dataset=New_Autolib_dataset.drop(columns=[ 'Cars'])
New_Autolib_dataset

**Questions to answer**

In [ ]:
#Load the new cleaned dataset
# Importing the pandas library
 
import pandas as pd

# Importing the numpy library
#
import numpy as np
New_Autolib_dataset=New_Autolib_dataset.to_csv('New_Autolib_dataset.csv')

In [ ]:

New_Autolib_dataset.head(5)

In [ ]:
#Identify the most popular hour of the day for picking up a shared electric car (Bluecar) 
#in the city of Paris over the month of April 2018.
PopHr=New_Autolib_dataset.loc[(New_Autolib_dataset['City'] == 'Paris') &
                               (New_Autolib_dataset['Bluecar counter']!=0) ,['hour']]
PopHr.value_counts()

In [46]:
#What postal code is the most popular for picking up Blue cars At the most popular picking hour?
W=New_Autolib_dataset.loc[(New_Autolib_dataset['hour'] == 21) &
                               (New_Autolib_dataset['Bluecar counter']!=0) ,['Postal code']]
W.value_counts().nlargest(1)

Postal code
75014          12
dtype: int64

In [51]:
#What is the most popular hour for returning cars?
New_Autolib_dataset['hour'].value_counts().nlargest(1)

21    237
Name: hour, dtype: int64

In [ ]:
#Most popular postal code
New_Autolib_dataset['Postal code'].value_counts().nlargest(1)

In [ ]:
#Most popular city
New_Autolib_dataset['City'].value_counts()

In [53]:
#What station is the most popular?
#Overall?
New_Autolib_dataset['Public name'].value_counts().nlargest(1)

Paris/Porte de Montrouge/8    13
Name: Public name, dtype: int64

In [55]:
#What station is the most popular?At the most popular picking hour?
popular_station=New_Autolib_dataset.loc[(New_Autolib_dataset['hour'] == 21) ,['Public name']]
popular_station.value_counts().nlargest(1)

Public name
Paris/Tronchet/19    4
dtype: int64

In [58]:
#What postal code is the most popular for picking up Blue cars? 

popular_postal=New_Autolib_dataset.loc[(New_Autolib_dataset['Bluecar counter'] != 0) ,['Postal code']]
popular_postal.value_counts().nlargest(1)

Postal code
75015          195
dtype: int64

In [57]:
#What postal code is the most popular for picking up Utilib 1.4 counter cars? 

popular_postal=New_Autolib_dataset.loc[(New_Autolib_dataset['Utilib 1.4 counter'] != 0) ,['Postal code']]
popular_postal.value_counts().nlargest(1)

Postal code
75017          36
dtype: int64

In [59]:
#What postal code is the most popular for picking up Utilib counter? 

popular_postal=New_Autolib_dataset.loc[(New_Autolib_dataset['Utilib counter'] != 0) ,['Postal code']]
popular_postal.value_counts().nlargest(1)

Postal code
75016          20
dtype: int64

In [62]:
#Does the most popular station belong to that  most popular postal code?(Most popular postal code being 75015-274)


x=New_Autolib_dataset.loc[(New_Autolib_dataset['Public name'] == 'Paris/Porte de Montrouge/8') ,['Postal code']]
x.mode().value_counts()

Postal code
75014          1
dtype: int64

In [63]:
##Does the most popular station belong to that  most popular postal code(75015-274) At the most popular picking hour(21)
PopStat=New_Autolib_dataset.loc[(New_Autolib_dataset['Public name'] == 'Paris/Porte de Montrouge/8') &
                               (New_Autolib_dataset['hour']==21) ,['Postal code']]

PopStat.value_counts()

Postal code
75014          1
dtype: int64

In [67]:
#Do the results change if you consider Utilib and Utilib 1.4 instead of Blue cars? 
#The most popular hour in paris in April 
PopHr_Utilib=New_Autolib_dataset.loc[(New_Autolib_dataset['City'] == 'Paris') &
                               (New_Autolib_dataset['Utilib 1.4 counter']!=0) & (New_Autolib_dataset['month']==4),['hour']]
PopHr_Utilib.value_counts().nlargest(1)

hour
21      18
dtype: int64

In [17]:
#What postal code is the most popular for picking up Utilib 1.4 counter? 

popular_postal=New_Autolib_dataset.loc[(New_Autolib_dataset['Utilib 1.4 counter'] != 0) ,['Postal code']]
popular_postal.value_counts().nlargest(1)

Postal code
75017          36
dtype: int64

In [68]:
#What postal code is the most popular for picking up Utilib  

popular_postal=New_Autolib_dataset.loc[(New_Autolib_dataset['Utilib counter'] != 0) ,['Postal code']]
popular_postal.value_counts().nlargest(1)

Postal code
75016          20
dtype: int64

In [92]:
PopHr_Utilib=New_Autolib_dataset.loc[(New_Autolib_dataset['City'] == 'Paris') &
                               (New_Autolib_dataset['Utilib counter']!=0) ,['hour']]
PopHr_Utilib.value_counts().nlargest(1)

hour
6       12
dtype: int64

In [ ]:
#At the most popular picking hour Utilib counter

PopStat=New_Autolib_dataset.loc[(New_Autolib_dataset['Public name'] == 'Paris/Porte de Montrouge/8') &
                               (New_Autolib_dataset['hour']==21) ,['Postal code']]

In [ ]:
#Most used car by values 
New_Autolib_dataset['Utilib counter'].sum()

In [ ]:
New_Autolib_dataset['Utilib 1.4 counter'].sum()

In [ ]:
New_Autolib_dataset['Bluecar counter'].sum()

In [ ]:
#Most popular kind of car
New_Autolib_dataset['Kind'].value_counts()
#Station with all utilities

In [ ]:
#Busiest month with renting cars 
New_Autolib_dataset['month'].value_counts()
#Station with all utilities

In [ ]:
#The highest number of parking slots in the station 
New_Autolib_dataset['Slots'].value_counts()

In [ ]:
#Number of parking slots in each station 

slots=New_Autolib_dataset.loc[(New_Autolib_dataset['Slots'] != 0) ,['Public name']]

slots.value_counts()